.drop-down {
	width: 600px;
	background: white;
	border: lightgrey 1px solid;
	border-radius: 0 0 20px 20px;
	max-height: 30vh;
	overflow: scroll;
}

@media only screen and (max-width: 768px) {
	.drop-down {
		width: 90%;
	}
}
