.all-pokemon-element {
	text-decoration: none;
	font-weight: bold;
	color: darkorange;
	font-size: 15px;
	text-align: center;
	padding: 15px;
	border: grey 2px solid;
	border-radius: 15px;
	margin: 10px;
}

.all-pokemon-element:hover {
	background: lightgrey;
}
