.header {
	height: 8vh;
	background: lightgrey;
	display: flex;
	align-items: center;
}

.header-logo {
	height: 40px;
	margin-left: 10vw;
	cursor: pointer;
}

@media only screen and (max-width: 892px) {
	.header {
		justify-content: space-around;
	}

	.header-logo {
		display: none;
	}
}
