.info-container {
	width: 20vw;
	justify-self: left;
}

.num,
.name {
	display: inline-block;
	margin-top: 23vh;
}

.num {
	color: #002a3d;
}

.name {
	margin-left: 20px;
}

.type-gallery {
	display: grid;
	grid-template-columns: repeat(9, auto);
}

.weight {
	font-size: 15px;
	font-weight: bold;
	color: grey;
	margin-top: 5px;
}

@media only screen and (max-width: 1229px) {
	.type-gallery {
		grid-template-columns: repeat(5, auto);
	}
}

@media only screen and (max-width: 892px) {
	.info-container {
		align-self: center;
		width: 300px;
		height: 46vh;
	}

	.num,
	.name {
		margin-top: 0;
	}
}
