.stats {
	border: black 2px solid;
	border-radius: 5px;
	width: 300px;
	margin-top: 20px;
	padding: 10px;
	font-weight: bold;
}

.stat {
	font-size: 18px;
	line-height: 30px;
	color: darkorange;
}

.stat .key {
	color: black;
}
