.type {
	background: grey;
	color: white;
	font-weight: bold;
	font-size: 15px;
	padding: 6px;
	padding-bottom: 8px;
	display: flex;
	border-radius: 5px;
	margin: 10px;
	margin-top: 20px;
	outline: none;
}
